<div class="user">
  <h1 class> login </h1>

  <form action="/user_session" method="post">
    <p><%= flash[:loginfail] %></p>

    <%= render 'partials/form', action: :login %>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input class="singupButton" type="submit" value="sign in !">

    <br>
    <br>

  </form>

</div>