<div class="user">
  <h1 class> login  </h1>

  <form action="/user_session" method="post">

    <%= render 'partials/form',action: :login %>

    <input class="singupButton" type="submit" value="sign in !">

    <br>
    <br>

  </form>

</div>