

<label for="email">Email:</label>
<input type="email" id="email" required name="user[email]">
<br>
<br>

<label for="password">Password:</label>
<input type="password" id="password" required name="user[password]">

<br>
<br>
