<div class="user">
  <h1 class> login  </h1>

  <form action="/users" method="get">

    <%= render 'form' %>

    <input class="singupButton" type="submit" value="sign in !">

    <br>
    <br>

  </form>

</div>