<div class="user">
  <h1> new user </h1>

  <form action="/users" method="post">

    <label for="name"> User name: </label>
    <input type="text" id="name" required name="user[name]">

    <br>
    <br>

    <%= render 'form' %>

    <input class="singupButton" type="submit" value="sign up !">

    <br>
    <br>

  </form>
</div>