<div class="user">
  <h1> new user </h1>

  <p><%= flash[:loginfail] %></p>
  <form action="/users" method="post">

    <label for="name"> User name: </label>
    <input type="text" id="name" required name="user[name]">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


    <br>
    <br>

    <%= render 'partials/form' %>

    <input class="singupButton" type="submit" value="sign up !">

    <br>
    <br>

  </form>
</div>