<form action="/posts" method="post">
  <div class="newpost">
    <h3>Title</h3>

    <input class="newpost_title" type="text" name="post[title]">

    <h3>Body</h3>
    <input class="newpost_body" type="text" name="post[body]">

    <input class="newpost_button" type="submit" value="create post">
  </div>

</form>
