<div class="post_title">
  <h2 > article author: <%= @post.user.name %></h2>
  <h2> article author email: <%= @post.user.email %></h2>
  <h3> Title : <%= @post.title %></h3>
</div>



<div class="post_body">
  <h3>Body:</h3>
  <p><%= @post.body %></p>
</div>


