.bar{
    /*background-color: red;*/
    padding-left: 4%;
    padding-top: 1%;
}

.bar a{
    display: inline-block;
    margin-right: 2%;
    /*background-color: white;*/
    color: white;
}

.bar .login{
   margin-right: 8%;
    float: right;
}

