
.post_title {
    background-color: #212121;
    color: white;
    margin: 30px 100px;
    padding: 10px 30px;

}

.post_body {
    background-color: #212121;
    color: white;
    margin: 30px 100px;
    padding: 10px 30px;
}

.newpost {
    background-color: #212121;
    color: white;
    margin: 50px 20%;
    padding: 50px;

}

.newpost input {
    width: 100%;
}

.newpost_body {
    height: 10vh;
}

.newpost .newpost_button {
    width: auto;
    margin-top: 20px;
}

.post_addcomment {
    /*background-color: #212121;*/
    color: white;
    margin: 2px 100px;
    padding: 10px 30px;
}

.post_addcomment .comment {
    width: 100%;
    display: block;
    height: 4vh;
}

.post_comment{
    color: white;
    line-height: 2px;
    margin-left: 100px;
    margin-bottom: 30px;
    font-weight: bold;
}

.post_comment .comment_author{
    font-size: 25px;
}

.commentpost {
    color: white;
}

