body{
    background-color: #121212;
}
.user h1{
    text-align: center;
    color: white;
}

.user{
    background-color: #212121;
    display: block;
    padding-left: 2%;

    margin-top: 10%;
    margin-left: 35%;

    width: 400px;
}

.user .singupButton{
    display: inline;
    width: auto;
    margin-left: 40%;
    font-size: 15px;
    border-radius: 5px;

}

.user input{
    width: 90%;
}

.user label{
color: white;
}